<!DOCTYPE html>
{% load staticfiles %}

<html>
	<head lang="en">
		<meta charset="UTF-8" />
		{% block title_block %}
			Nyarlathotep Ate My Hamster
		{% endblock %}
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	</head>
	<body>
		{% block body_block %}
			This was inherited from the base template
		{% endblock %}
		<script src="{% static "js/jquery-3.3.1.min.js" %}" crossorigin="anonymous"></script>
		<!-- get the js required for the changing between forms on login/register page (views.start) -->
		<script src="{% static "js/hamster-jquery.js" %}" crossorigin="anonymous"></script>
	</body>
</html>